.number-scroll-view {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  overflow: hidden;
  font-size: inherit;
  position: relative;
  color: inherit;
}

.number-placeholder {
  visibility: hidden;
}

.number-scroll-column-container {
  position: relative;
}

.number-scroll-column {
  position: absolute;
  height: 1000%;
  bottom: 0;
  transition: transform 500ms cubic-bezier(0.37, 0.37, 0.11, 1.25);
}

.number-scroll-digit {
  height: 10%;
}

.number-scroll-column.increase {
  animation: pulseGreen 600ms cubic-bezier(0.4, 0, 0.6, 1) 1;
}

.number-scroll-column.decrease {
  animation: pulseRed 600ms cubic-bezier(0.4, 0, 0.6, 1) 1;
}

@keyframes pulseGreen {
  0%,
  100% {
    color: black;
  }

  50% {
    color: #00b200;
  }
}

@keyframes pulseRed {
  0%,
  100% {
    color: black;
  }

  50% {
    color: red;
  }
}
